#notfound-indicator {
  margin-top: 10px;
  color: red;
}

.input-group {
  /* Center buttons */
  /* https://stackoverflow.com/questions/22578853/how-to-center-buttons-in-twitter-bootstrap-3 */
  margin:auto;
  display:block;
  /* vertical alignment */
  /* https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}


.tt-menu {
  text-align: left;
  /* Dropdown menu (https://github.com/twitter/typeahead.js/issues/1301) */
  max-height: 150px;
  overflow-y: auto;
}

.text-muted {
  font-family: "微軟正黑體", sans-serif
}

.text-muted a {
  color: inherit;
}

.text-muted img.dim {
  opacity: 0.6;
}