#notfound-indicator {
  margin-top: 10px;
  color: red;
}

.tt-menu {
  text-align: left;
  /* Dropdown menu (https://github.com/twitter/typeahead.js/issues/1301) */
  max-height: 150px;
  overflow-y: auto;
}

.text-muted {
  font-family: "微軟正黑體", sans-serif
}

.text-muted a {
  color: inherit;
}

.text-muted img.dim {
  opacity: 0.6;
}